<div>
  <h1>Player 1 has selected thier option!</h1>
  <h2>Player 2 please now select yours.</h2>

    <ul>
      <li><h4><a href="/<%=@option1%>/rock">Rock</a></h4></li>
      <li><h4><a href="/<%=@option1%>/scissors">Scissors</a><h4></li>
        <li><h4><a href="/<%=@option1%>/paper">Paper</a><h4></li>
        </ul>
    </div>
