<div>
  <h1>Welcome to Rock, Paper, Scissors!</h1>
  <h2>Player 1, please make your choice.</h2>
    <ul>
      <li><h4><a href="/rock">Rock</a></h4></li>
      <li><h4><a href="/scissors">Scissors</a></h4></li>
      <li><h4><a href="/paper">Paper</a></h4></li>
    </ul>
</div>
